body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

li {
    text-align: center;
    list-style-type: none;
    padding: 4px;
    height: 3vh;
    border-radius: 5px;
    background-color: rgb(17, 99, 206);
    cursor: pointer;
}

li:hover {
    text-align: center;
    list-style-type: none;
    padding: 4px;
    height: 3vh;
    border-radius: 5px;
    background-color: rgb(34, 148, 214);
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #ffffff;
}
